{% extends 'base.html' %}
{% block content %}
    <h1>Hello! {{ current_user.username }}</h1>
    {% if form %}
    <form action="", method="POST", novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.post.label(class_='form-label') }}
            {{ form.post(class_='form-control') }}
            {% for error in form.post.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class_='btn btn-primary') }}
    </form>
    {% endif %}
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older Posts</a>
    {% endif %}
{% endblock %}