{% extends 'base.html' %}
{% block content %}
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password2.label(class_="form-label") }}
        {{ form.password2(class_="form-control") }}
        {% for error in form.password2.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock content %}