{% extends 'base.html' %}
{% block content %}
<h1>User: {{ user.username }}</h1>
{% for post in posts %}
<!-- <div class="card border-primary mb-2">
    <div class="card-body p-2">
        <h5 class="card-title">{{ post.author.username }} says:</h5>
        <p class="card-text">{{ post.body }}</p>
    </div>
</div> -->

<div class="row justify-content-start">
    <div class="col-1">
        <img src="{{ user.avatar(36) }}" alt="avatar of {{ user.username }}" class="img-fluid img-thumbnail float-end border-white">
    </div>
    <div class="col-4">
        <div class="card mb-2 border-info">
            <div class="card-body p-2">
                <h5 class="card-title">{{ post.author.username }} says:</h5>
                <p class="card-text">{{ post.body }}</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}